.footer{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: #888;
    font-size: 15px;
    letter-spacing: 2px;

}
.footer .git-icon{
    font-size: 38px;
    border: solid 2px gray;
    border-radius: 50%;
    padding: 3px;
    transition:  0.4s;
}

.footer .git-icon:hover{
    background: black;
    color: #fff;
    border: solid 2px black;
}
.footer a{
    color: gray;
}